/************************************
GENERAL
*************************************/
body {
text-align: center;
}

h1 {
font-size: 72px;
color: black;
}

header {
background-color: grey;
}

p {
font-size: 20px;
}
body{
background-image: url('http://hdwallpapers.cat/wallpaper/table_for_two_cafe_street_architecture_hd-wallpaper-1818008.jpg')
}